@model Timothy.Models.Entities.Inquiry

<table id="inquiry-detail-table" class="uk-table uk-table-divider">
    <tr>
        <th>
            <div class="uk-form-label">
                @Html.DisplayNameFor(model => model.ApprovalFlag)
            </div>
        </th>
        <td>
            <div class="uk-inline">
                @Html.DisplayFor(model => @model.ApprovalFlag)
            </div>
        </td>

        <th>
            <div class="uk-form-label">
                @Html.DisplayNameFor(model => model.ComplateFlag)
            </div>
        </th>
        <td>
            <div class="uk-inline">
                @Html.DisplayFor(model => @model.ComplateFlag)
            </div>
        </td>
    </tr>

    <tr>
        <th>
            <div class="uk-form-label">
                @Html.DisplayNameFor(model => model.IncomingDate)
            </div>
        </th>
        <td>
            <div>
                @Html.DisplayFor(model => @model.IncomingDate)
            </div>
        </td>

        <th>
            <div class="uk-form-label">
                着信時刻
            </div>
        </th>
        <td>
            <div class="uk-inline">
                @Html.DisplayFor(model => @model.StartTime)
                <span>　～　</span>
                @Html.DisplayFor(model => @model.EndTime)
            </div>
        </td>
    </tr>

    <tr>
        <th>
            <div class="uk-form-label">
                @Html.DisplayNameFor(model => model.SystemId)
            </div>
        </th>
        <td>
            <div class="uk-inline">
                @Html.DisplayFor(model => @model.System.SystemName)
            </div>
        </td>

        <th>
            <div class="uk-form-label">
                @Html.DisplayNameFor(model => model.ContactMethodId)
            </div>
        </th>
        <td>
            <div class="uk-inline">
                @Html.DisplayFor(model => @model.ContactMethod.ContactMethodName)
            </div>
        </td>
    </tr>

    <tr>
        <th>
            <div class="uk-form-label">
                @Html.DisplayNameFor(model => model.CompanyName)
            </div>
        </th>
        <td>
            <div class="uk-inline">
                @Html.DisplayFor(model => @model.CompanyName)
            </div>
        </td>

        <th>
            <div class="uk-form-label">
                @Html.DisplayNameFor(model => model.GuestTypeId)
            </div>
        </th>
        <td>
            <div class="uk-inline">
                @Html.DisplayFor(model => @model.GuestType.GuestTypeName)
            </div>
        </td>
    </tr>

    <tr>
        <th>
            <div class="uk-form-label">
                @Html.DisplayNameFor(model => model.InquirerName)
            </div>
        </th>
        <td>
            <div class="uk-inline">
                @Html.DisplayFor(model => @model.InquirerName)
            </div>
        </td>

        <th>
            <div class="uk-form-label">
                @Html.DisplayNameFor(model => model.TelephoneNumber)
            </div>
        </th>
        <td>
            <div class="uk-inline">
                @Html.DisplayFor(model => @model.TelephoneNumber)
            </div>
        </td>
    </tr>

    <tr>
        <th>
            <div class="uk-form-label">
                @Html.DisplayNameFor(model => model.SpareTelephoneNumber)
            </div>
        </th>
        <td>
            <div class="uk-inline">
                @Html.DisplayFor(model => @model.SpareTelephoneNumber)
            </div>
        </td>

        <th>
            <div class="uk-form-label">
                @Html.DisplayNameFor(model => model.UserId)
            </div>
        </th>
        <td>
            <div class="uk-inline">
                @Html.DisplayFor(model => @model.User.Id)
            </div>
        </td>
    </tr>

    <tr>
        <th>
            <div class="uk-form-label">
                @Html.DisplayNameFor(model => model.Question)
            </div>
        </th>
        <td>
            <div class="uk-inline">
                @Html.DisplayFor(model => @model.Question)
            </div>
        </td>

        <th>
            <div class="uk-form-label">
                @Html.DisplayNameFor(model => model.Answer)
            </div>
        </th>
        <td>
            <div class="uk-inline">
                @Html.DisplayFor(model => @model.Answer)
            </div>
        </td>
    </tr>

    <tr>
        <th>
            <div class="uk-form-label">
                @Html.DisplayNameFor(model => model.Classification)
            </div>
        </th>
        <td>
            <div class="uk-inline">
                @Html.DisplayFor(model => @model.Classification.ClassificationName)
            </div>
        </td>

        <th>
            <div class="uk-form-label">
                @Html.DisplayNameFor(model => model.InquiryRelationId)
            </div>
        </th>
        <td>
            <div class="uk-inline">
                @Html.DisplayFor(model => @model.InquiryRelationId)
            </div>
        </td>
    </tr>
</table>

<div class="detail-under-buttons">
    <a asp-controller="Inquiry" asp-action="Index" class="uk-button uk-button-default">戻る</a>
    <span>　</span>
    <button type="button" class="uk-button uk-button-primary" uk-toggle="target: #modal-approval-confirm">確認</button>
    <span>　</span>
    <a asp-controller="Inquiry" asp-action="Edit" asp-route-id=@Model.Id class="uk-button uk-button-primary">編集</a>
    <span>　</span>
    <button type="button" class="uk-button uk-button-danger" uk-toggle="target: #modal-delete-confirm">削除</button>
</div>

<div id="modal-approval-confirm" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <p>確認済みに変更してもよろしいですか？</p>
        <p class="uk-text-right">
            <a asp-controller="Inquiry" asp-action="Approval" asp-route-id=@Model.Id class="uk-button uk-button-primary" type="button">確認</a>
            <button class="uk-button uk-button-default uk-modal-close" type="button">キャンセル</button>
        </p>
    </div>
</div>

<div id="modal-delete-confirm" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <p>削除してもよろしいですか？</p>
        <p class="uk-text-right">
            <a asp-controller="Inquiry" asp-action="Destroy" asp-route-id=@Model.Id class="uk-button uk-button-danger" type="button">削除</a>
            <button class="uk-button uk-button-default uk-modal-close" type="button">キャンセル</button>
        </p>
    </div>
</div>
