@model IEnumerable<Inquiry.View.Models.InquiryIndexLists>

<script src="~/js/Inquiries/Index.js" asp-append-version="true"></script>

<div class="uk-padding-small uk-padding-remove-left uk-padding-remove-right">
    <div id="inquiry-search-area" class="uk-flex uk-flex-center uk-flex-middle uk-flex-around">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: calendar"></span>
            <input class="uk-input uk-form-width-medium flatpicker-calendar" type="date">
        </div>
        <span>　～　</span>
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: calendar"></span>
            <input class="uk-input uk-form-width-medium flatpicker-calendar" type="date">
        </div>
        <select class="uk-select uk-form-width-medium">
            <option value="-1">すべて</option>
            <option>システムA</option>
            <option>システムB</option>
        </select>
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: pencil"></span>
            <input class="uk-input uk-form-width-large" type="text">
        </div>
        <label><input class="uk-checkbox" type="checkbox" checked> 未確認のみ</label>
        <div class="uk-button-group">
            <button class="uk-button uk-button-default"><span class="uk-margin-small-center" uk-icon="search"></span></button>
            <button class="uk-button uk-button-default" type="button"><span class="uk-margin-small-center" uk-icon="download"></button>
            <div uk-dropdown="mode: click">
                <ul class="uk-nav uk-dropdown-nav">
                    <li><a href="#">EXCEL</a></li>
                    <li><a href="#">CSV</a></li>
                </ul>
            </div>
            <button id="clear-button" class="uk-button uk-button-default">クリア</button>
        </div>

        <a asp-controller="Inquiry" asp-action="New" class="uk-button uk-button-primary inquiry-add-button">新規登録</a>
    </div>
    
    <table id="inquiry-list" class="uk-table uk-table-striped uk-table-hover uk-table-small">
        <thead>
            <tr>
                <th class="inquiry-id">@Html.DisplayNameFor(model => model.Id)</th>
                <th class="incoming-dated">@Html.DisplayNameFor(model => model.IncomingDateTime)</th>
                <th class="company-name">@Html.DisplayNameFor(model => model.CompanyName)</th>
                <th class="inquirer-name">@Html.DisplayNameFor(model => model.InquirerName)</th>
                <th class="telephone-number">@Html.DisplayNameFor(model => model.TelephoneNumber)</th>
                <th class="system-name">@Html.DisplayNameFor(model => model.SystemName)</th>
                <th class="respondent">@Html.DisplayNameFor(model => model.SystemName)</th>
                <th class="question">@Html.DisplayNameFor(model => model.Question)</th>
                <th class="answer">@Html.DisplayNameFor(model => model.Answer)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inquiry in Model)
            {
                <tr class="inquiry-list-line">
                    <td class="inquiry-id">@inquiry.Id</td>
                    <td class="incoming-dated">@inquiry.IncomingDateTime.ToString("yy/MM/dd HH:mm")</td>
                    <td class="company-name">@inquiry.CompanyName</td>
                    <td class="inquirer-name">@inquiry.InquirerName</td>
                    <td class="telephone-number">@inquiry.TelephoneNumber</td>
                    <td class="system-name">@inquiry.SystemName</td>
                    <td class="respondent">@inquiry.UserName</td>
                    <td class="question">@inquiry.Question</td>
                    <td class="answer">@inquiry.Answer</td>
                </tr>   
            }
        </tbody>
    </table>
</div>