@model Timothy.Models.ViewModels.inquiry.InquiryIndexViewModel

<script src="~/js/Inquiries/Index.js" asp-append-version="true"></script>

<div class="uk-padding-small uk-padding-remove-left uk-padding-remove-right">
    <form asp-controller="inquiry" asp-action="Search" method="get" id="inquiry-search-area" class="uk-flex uk-flex-center uk-flex-middle uk-flex-around">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: calendar"></span>
            <input asp-for="inquirySearchForm.StartTime" class="uk-input uk-form-width-medium flatpicker-calendar" type="date">
        </div>
        <span>　～　</span>
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: calendar"></span>
            <input asp-for="inquirySearchForm.EndTime" class="uk-input uk-form-width-medium flatpicker-calendar" type="date">
        </div>
        <select asp-for="inquirySearchForm.SystemId" asp-items="Model.inquirySearchForm.Systems" class="uk-select uk-form-width-medium">
            <option value="0">すべて</option>
        </select>
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: pencil"></span>
            <input asp-for="inquirySearchForm.FreeWord" class="uk-input uk-form-width-large" type="text">
        </div>
        <label><input asp-for="inquirySearchForm.CheckedFlag" class="uk-checkbox" type="checkbox"> 未確認のみ</label>
        <div class="uk-button-group">
            <button type="submit" class="uk-button uk-button-default"><span class="uk-margin-small-center" uk-icon="search"></span></button>
            <button type="button" class="uk-button uk-button-default"><span class="uk-margin-small-center" uk-icon="download"></button>
            <div uk-dropdown="mode: click">
                <ul class="uk-nav uk-dropdown-nav">
                    <li><a href="#">EXCEL</a></li>
                    <li><a href="#">CSV</a></li>
                </ul>
            </div>
            <button type="button" id="clear-button" class="uk-button uk-button-default">クリア</button>
        </div>
        <a asp-controller="Inquiry" asp-action="New" class="uk-button uk-button-primary inquiry-add-button">新規登録</a>
    </form>
    
    <table id="inquiry-list" class="uk-table uk-table-striped uk-table-hover uk-table-small">
        <thead>
            <tr>
                <th class="inquiry-id">@Html.DisplayNameFor(model => model.inquiryIndexLists.GetEnumerator().Current.Id)</th>
                <th class="incoming-dated">@Html.DisplayNameFor(model => model.inquiryIndexLists.GetEnumerator().Current.IncomingDate)</th>
                <th class="company-name">@Html.DisplayNameFor(model => model.inquiryIndexLists.GetEnumerator().Current.CompanyName)</th>
                <th class="inquirer-name">@Html.DisplayNameFor(model => model.inquiryIndexLists.GetEnumerator().Current.InquirerName)</th>
                <th class="telephone-number">@Html.DisplayNameFor(model => model.inquiryIndexLists.GetEnumerator().Current.TelephoneNumber)</th>
                <th class="system-name">@Html.DisplayNameFor(model => model.inquiryIndexLists.GetEnumerator().Current.SystemId)</th>
                <th class="respondent">@Html.DisplayNameFor(model => model.inquiryIndexLists.GetEnumerator().Current.UserId)</th>
                <th class="question">@Html.DisplayNameFor(model => model.inquiryIndexLists.GetEnumerator().Current.Question)</th>
                <th class="answer">@Html.DisplayNameFor(model => model.inquiryIndexLists.GetEnumerator().Current.Answer)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inquiry in Model.inquiryIndexLists)
            {
                <tr class="inquiry-list-line">
                    <td class="inquiry-id">@inquiry.Id</td>
                    <td class="incoming-dated">@inquiry.IncomingDateTimeText</td>
                    <td class="company-name">@inquiry.CompanyName</td>
                    <td class="inquirer-name">@inquiry.InquirerName</td>
                    <td class="telephone-number">@inquiry.TelephoneNumber</td>
                    <td class="system-name">@inquiry.System.SystemName</td>
                    <td class="respondent">@inquiry.User.UserName</td>
                    <td class="question">@inquiry.Question</td>
                    <td class="answer">@inquiry.Answer</td>
                </tr>   
            }
        </tbody>
    </table>
</div>