@model Inquiry.View.Models.InquiryViewModel;

<div class="uk-padding-small">

    <form id="inquiry-input-form" class="uk-form-horizontal uk-margin-large">
        <div class="uk-margin">
            <label class="uk-form-label">
                @Html.DisplayNameFor(model => model.inquiry.IncomingDate)
            </label>
            <div class="uk-form-controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                    <input asp-for="inquiry.IncomingDate" type="date" class="uk-input datetime-input-field flatpicker-calendar">
                </div>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label">着信時刻</label>
            <div class="uk-form-controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: clock"></span>
                    <input asp-for="inquiry.StartTime" type="text" class="uk-input datetime-input-field">
                </div>
                <span>　～　</span>
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: clock"></span>
                    <input asp-for="inquiry.EndTime" type="text" class="uk-input datetime-input-field">
                </div>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label">
                @Html.DisplayNameFor(model => model.inquiry.SystemId)
            </label>
            <div class="uk-form-controls">
                <select asp-for="inquiry.SystemId" asp-items="Model.inquiryFrom.Systems" class="uk-select select-box-field">
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label">
                @Html.DisplayNameFor(model => model.inquiry.ContactMethodId)
            </label>
            <div class="uk-form-controls">
                <select asp-for="inquiry.ContactMethodId" class="uk-select select-box-field">
                    <option>Option 01</option>
                    <option>Option 02</option>
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label">
                @Html.DisplayNameFor(model => model.inquiry.ComapnyName)
            </label>
            <div class="uk-form-controls">
                <input asp-for="inquiry.ComapnyName" type="text" class="uk-input line-input-text-field" placeholder="Some text...">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label">
                @Html.DisplayNameFor(model => model.inquiry.GuestTypeId)
            </label>
            <div class="uk-form-controls">
                <select asp-for="inquiry.GuestTypeId" class="uk-select select-box-field">
                    <option>Option 01</option>
                    <option>Option 02</option>
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label">
                @Html.DisplayNameFor(model => model.inquiry.InquirerName)
            </label>
            <div class="uk-form-controls">
                <input asp-for="inquiry.InquirerName" type="text" class="uk-input line-input-text-field" placeholder="Some text...">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label">
                @Html.DisplayNameFor(model => model.inquiry.TelephoneNumber)
            </label>
            <div class="uk-form-controls">
                <input asp-for="inquiry.TelephoneNumber" type="text" class="uk-input line-input-text-field" placeholder="Some text...">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label">
                @Html.DisplayNameFor(model => model.inquiry.SpareTelephoneNumber)
            </label>
            <div class="uk-form-controls">
                <input asp-for="inquiry.SpareTelephoneNumber" type="text" class="uk-input line-input-text-field" placeholder="Some text...">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label">
                @Html.DisplayNameFor(model => model.inquiry.UserId)
            </label>
            <div class="uk-form-controls">
                <select asp-for="inquiry.UserId" class="uk-select select-box-field">
                    <option>Option 01</option>
                    <option>Option 02</option>
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label">
                @Html.DisplayNameFor(model => model.inquiry.Question)
            </label>
            <div class="uk-form-controls">
                <textarea asp-for="inquiry.Question" class="uk-textarea textarea-input" rows="5" placeholder="Textarea"></textarea>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label">
                @Html.DisplayNameFor(model => model.inquiry.Answer)
            </label>
            <div class="uk-form-controls">
                <textarea asp-for="inquiry.Answer" class="uk-textarea textarea-input" rows="5" placeholder="Textarea"></textarea>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label">
                @Html.DisplayNameFor(model => model.inquiry.ClassificationId)
            </label>
            <div class="uk-form-controls">
                <select asp-for="inquiry.ClassificationId" class="uk-select select-box-field">
                    <option>Option 01</option>
                    <option>Option 02</option>
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label">
                @Html.DisplayNameFor(model => model.inquiry.InquiryRelation)
            </label>
            <div class="uk-form-controls">
                <input asp-for="inquiry.InquiryRelation" type="text" class="uk-input line-input-text-field" placeholder="Some text...">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label">
                @Html.DisplayNameFor(model => model.inquiry.ComplateFlag)
            </label>
            <div class="uk-form-controls">
                <select asp-for="inquiry.ComplateFlag" asp-items="Model.inquiry.GetCompletionStateSelectListItem()" class="uk-select select-box-field">
                </select>
            </div>
        </div>


        <div class="form-under-buttons">
            <button class="uk-button uk-button-default">戻る</button>
            <span>　</span>
            <button class="uk-button uk-button-primary">登録</button>
        </div>
    </form>

</div>