@model Inquiry.View.Models.InquiryForm;

<div class="uk-padding-small">

    <form id="inquiry-input-form" class="uk-form-horizontal uk-margin-large">
        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">
                @Html.DisplayNameFor(model => model.IncomingDate)
            </label>
            <div class="uk-form-controls">
                <input class="uk-input datetime-input-field" id="form-horizontal-text" type="text" placeholder="Some text...">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">着信時刻</label>
            <div class="uk-form-controls">
                <input class="uk-input datetime-input-field" type="text" placeholder="Some text...">
                <span>　～　</span>
                <input class="uk-input datetime-input-field" id="form-horizontal-text" type="text" placeholder="Some text...">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">
                @Html.DisplayNameFor(model => model.Systems)
            </label>
            <div class="uk-form-controls">
                <select class="uk-select select-box-field" id="form-horizontal-select">
                    <option>Option 01</option>
                    <option>Option 02</option>
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">
                @Html.DisplayNameFor(model => model.ContactMethods)
            </label>
            <div class="uk-form-controls">
                <select class="uk-select select-box-field" id="form-horizontal-select">
                    <option>Option 01</option>
                    <option>Option 02</option>
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">
                @Html.DisplayNameFor(model => model.CompanyName)
            </label>
            <div class="uk-form-controls">
                <input class="uk-input line-input-text-field" id="form-horizontal-text" type="text" placeholder="Some text...">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">
                @Html.DisplayNameFor(model => model.GuestTypes)
            </label>
            <div class="uk-form-controls">
                <select class="uk-select select-box-field" id="form-horizontal-select">
                    <option>Option 01</option>
                    <option>Option 02</option>
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">
                @Html.DisplayNameFor(model => model.InquirerName)
            </label>
            <div class="uk-form-controls">
                <input class="uk-input line-input-text-field" id="form-horizontal-text" type="text" placeholder="Some text...">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">
                @Html.DisplayNameFor(model => model.TelephoneNumber)
            </label>
            <div class="uk-form-controls">
                <input class="uk-input line-input-text-field" id="form-horizontal-text" type="text" placeholder="Some text...">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">
                @Html.DisplayNameFor(model => model.SpareTelephoneNumber)
            </label>
            <div class="uk-form-controls">
                <input class="uk-input line-input-text-field" id="form-horizontal-text" type="text" placeholder="Some text...">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">
                @Html.DisplayNameFor(model => model.Users)
            </label>
            <div class="uk-form-controls">
                <select class="uk-select select-box-field" id="form-horizontal-select">
                    <option>Option 01</option>
                    <option>Option 02</option>
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">
                @Html.DisplayNameFor(model => model.Question)
            </label>
            <div class="uk-form-controls">
                <textarea class="uk-textarea textarea-input" rows="5" placeholder="Textarea"></textarea>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">
                @Html.DisplayNameFor(model => model.Answer)
            </label>
            <div class="uk-form-controls">
                <textarea class="uk-textarea textarea-input" rows="5" placeholder="Textarea"></textarea>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">
                @Html.DisplayNameFor(model => model.Classifications)
            </label>
            <div class="uk-form-controls">
                <select class="uk-select select-box-field" id="form-horizontal-select">
                    <option>Option 01</option>
                    <option>Option 02</option>
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">
                @Html.DisplayNameFor(model => model.CompletionStatus)
            </label>
            <div class="uk-form-controls">
                @Html.DropDownList("CompletionStates",
                    Model.CompletionStatus,
                    new { @class = "uk-select select-box-field", id = "form-horizontal-select", selected = "1"}
                )

            </div>
        </div>


        <div class="form-under-buttons">
            <button class="uk-button uk-button-default">戻る</button>
            <span>　</span>
            <button class="uk-button uk-button-primary">登録</button>
        </div>
    </form>

</div>